{{ form_start(form) }}
    {{ form_row(form.patient) }}
    {{ form_row(form.doctor) }}
    {{ form_row(form.timeSlot) }}
    {{ form_row(form.status) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}