{% extends 'base.html.twig' %}

{% block title %}Edit Appointment{% endblock %}

{% block body %}
    <h1>Edit Appointment #{{ appointment.id }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Mettre à jour</button>
    {{ form_end(form) }}

    <a href="{{ path('app_appointment_index') }}">back to list</a>
    <a href="{{ path('app_appointment_show', {'id': appointment.id}) }}">show</a>
{% endblock %}
