{{ form_start(form) }}
    {{ form_row(form.startAt) }}
    {{ form_row(form.endAt) }}
    {{ form_row(form.doctor) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}