<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>StartAt</th>
            <th>EndAt</th>
            <th>Doctor</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
    {% for time_slot in time_slots %}
        <tr>
            <td>{{ time_slot.id }}</td>
            <td>{{ time_slot.startAt ? time_slot.startAt|date('d/m/Y H:i') : '' }}</td>
            <td>{{ time_slot.endAt   ? time_slot.endAt  |date('H:i')     : '' }}</td>
            <td>{{ time_slot.doctor.name }}</td>
            <td>
                <a href="{{ path('app_time_slot_show', {'id': time_slot.id}) }}">show</a>
                <a href="{{ path('app_time_slot_edit', {'id': time_slot.id}) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ path('app_time_slot_new') }}">Create new</a>
