{% extends 'base.html.twig' %}

{% block title %}TimeSlot{% endblock %}

{% block body %}
    <h1>TimeSlot</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ time_slot.id }}</td>
            </tr>
            <tr>
                <th>StartAt</th>
                <td>{{ time_slot.startAt ? time_slot.startAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndAt</th>
                <td>{{ time_slot.endAt ? time_slot.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_time_slot_index') }}">back to list</a>

    <a href="{{ path('app_time_slot_edit', {'id': time_slot.id}) }}">edit</a>

    {{ include('time_slot/_delete_form.html.twig') }}
{% endblock %}
